*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  border: 0;

  font-family: inherit;
  font-size: 100%;
}

body {
  position:relative;

  overflow-x: hidden;

  font-family: sans-serif;
  line-height:1.6;

  -webkit-text-size-adjust: 100%;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;

  color: inherit;
}

input, button, textarea, select {
  border-radius: 0;
  outline: none;
  background: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
